.main .header{
    width: 100%;
    height: 200px;
    background-image: url(../Photos/header4.png);
    background-size: cover;
} 
.main .header .title{
    margin-left: 5%;
    width:50%;
    height: 100%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.main .header .title p{
    font-size: 45px;
    font-weight: bold;
} 
.main .members{
    display: flex;
    width: 100%;
}
.members .member2{
    display: flex;
    justify-content: center;
    width: 33.3%;
    height: 100%;
}
.members .member3{
    display: flex;
    justify-content: center;
    width: 33.3%;
    height: 100%;
}
.members .member1{
    display: flex;
    justify-content: center;
    width: 33.3%;
    height: 100%;
}
.member1 .photo1{
    margin-top: 85px;
    border-radius: 0px;
    position: absolute;
    width: 220px;
    height: 220px;
    box-sizing: border-box;
}
.member1 .description1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 170px;
    height: 100px;
    background: linear-gradient(180deg, #7051b3 10%, rgba(99, 54, 194, 0) 75%);
    margin-top: 280px;
}
.member1 .description1 p{
    font-weight: 600;
    margin-top: -20px;
}
.member2 .photo2{
    margin-top: 85px;
    border-radius: 0px;
    position: absolute;
    width: 220px;
    height: 220px;
    box-sizing: border-box;
    }
.member2 .description2{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 170px;
    height: 100px;
    background: linear-gradient(180deg, #cc4699 10%, rgba(249, 6, 254, 0) 75%);
    margin-top: 280px;
}
.member2 .description2 p{
    font-weight: 600;
    margin-top: -20px;
}
.member3 .photo3{
    margin-top: 85px;
    border-radius: 0px;
    position: absolute;
    width: 220px;
    height: 220px;
    box-sizing: border-box;
}
.member3 .description3{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 170px;
    height:100px;
    background: linear-gradient(180deg, #3363a7 10%, rgba(228, 230, 229, 0) 75%);
    margin-top: 280px;
}
.member3 .description3 p{
    font-weight: 600;
    margin-top: -20px;
}
.photo1 p{
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}
.photo2 p{
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}
.photo3 p {
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}
.member2 .social2{
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 415px;
}
.member3 .social3{
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 415px;
}
.member1 .social1{
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 415px;
}
.social1 .fb1{
    margin: 20px;
}
.social1 .ins1{
    margin: 20px;
}
.social1 .gmail1{
    margin:20px;
}
.social2 .fb2{
     margin: 20px;
}
.social2 .ins2{
    margin: 20px;
}
.social2 .gmail2{
    margin:20px;
}
.social3 .fb3{
    margin: 20px;
}
.social3 .ins3{
    margin: 20px;
}
.social3 .gmail3{
    margin:20px;
}