.main .header{
     width: 100%;
     height: 200px;
     background-image: url(../Photos/header1.png);
     background-size: cover;
}
.main .header .title{
     margin-left: 5%;
     width: 50%;
     height: 100%;
     display:flex;
     justify-content: flex-start;
     align-items: center;
}
.main .header .title p{
     font-size: 45px;
     font-weight: bold;
}