.main .header{
     width: 100%;
     height: 500px;
     background-attachment: fixed;
     background-repeat: no-repeat;
     background-size: contain;
}
.main .header .title{
     margin-left: 5%;
     width: 90%;
     height: 100%;
     display:flex;
     justify-content: flex-start;
     align-items: center;
}
.main .header .title p{
     font-size: 45px;
     font-weight: bold;
}
.main-con{
     width: 100%;
     height: auto;
     display: flex;
     margin-top: 50px;
}
.main-con .img-con{
     width: 40%;
     height: auto;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
}

.main-con .img-con .img-img{
     width: 100%;
     display: flex;
     justify-content: center;
}
.main-con .img-con .img-img img{
     width: 300px;
     height: 300px;
     border-radius: 5px;
}

.main-con .img-con .img-item{
     width: 100%;
     height: 40px;
     display: flex;
     align-items: center;
     justify-content: center;
}
.main-con .img-con .img-item-icons{
     width: 40%;
     height: 50px;
     display: flex;
     justify-content: space-around;
     align-items: center;
}
.round-icon{
     width: 35px;
     height:35px;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
}
.icon-fb:hover{
     background-color: #3b5998;
}
.icon-ig:hover{
     background-color: #ff3e95;
}
.icon-yt:hover{
     background-color:  #c4302b;
}

.round-icon i{
     font-size: large;
}
.main-con .img-con p{
     font-size: 20px;
}
.main .songs-con{
     width: 50%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center; 
     margin-bottom: 255px;
}
.main .songs-con .songs-con-bar{
     width: 90%;
     height: 80px;
     margin-top: 5px;
     border-radius: 5px;
     transition: ease .1s;
     display: flex;
     justify-content: flex-start;
}

.main .songs-con .songs-con-bar:hover{
     background-color: rgba(75, 75, 75, 0.5);
}
.main .songs-con .songs-img{
     width: 80px;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
}

.main .songs-con .songs-info{
     width: 75%;
     height: 100%;
     display: flex;
     margin-left: 20px;
     flex-direction: column;
     justify-content: space-between;
}
.main .songs-con .songs-info-name{
     height: 50%;
     width: 100%;
     display: flex;
     align-items: flex-end;
}
.main .songs-con .songs-info-name p{
     /* white-space: nowrap; */
     overflow: hidden;
     text-overflow: ellipsis;
     font-size: 17px;
     font-weight: 500;
}
.main .songs-con .songs-info-artist{
     height: 45%;
     width: auto;
     display: flex;
     align-items: flex-start;
}
.main .songs-con .songs-info-artist p{
     font-size: 14px;
     opacity: 70%;
}
.main .songs-con .songs-time{
     width: 100px;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: flex-start;
}
.main .songs-con .songs-time p{
     opacity: 70%;
}
.main .songs-con .songs-play{
     width:100px;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: flex-start;
}
.main .songs-con .songs-play i{
     font-size: 25px;
     opacity: 70%;
     color: rgba(68, 255, 61, 0.829);
     transition: ease .1s;
}
.main .songs-con-bar:hover i{
     transform: scale(1.2);
     opacity: 100%;
}
.main .songs-con-active{
     background-color: rgba(75, 75, 75, 0.5);
}
.main .songs-con-active .songs-play i{
     transform: scale(1.2);
     opacity: 100%;
}
