.main-con{
     width: 100%;
     height: auto;
     display: flex;
     flex-direction: column;
}
.main-con .pre-dis-con{
     width: auto;
     height: auto;
     margin-left: 5%;
     overflow-x: scroll;
     overflow-y: hidden;
     white-space: nowrap;
     scrollbar-width: none; 
}
.main-con .pre-dis-con .title{
     width: auto;
     height: 50px;
     display: flex;
     align-items: center;
}
.main-con .pre-dis-con .title p{
     font-size: 30px;
     font-weight: 700;
}
.main-con .pre-dis-con .row{
     height: 280px;
     width: 100%;
     display: flex;
     align-items: center;
     /* justify-content: space-between; */
}
.main-con .pre-dis-con .row .pre-dis-card{
     width: 180px;
     height: 250px;
     background-color: rgb(22, 22, 22);
     border-radius: 5px;
     margin-right: 3%;
     flex: 0 0 auto;
     transition: .3s ease;
     box-shadow: 0 8px 6px -6px rgb(0, 0, 0);
}
.main-con .pre-dis-con .row .pre-dis-card .pre-dis-img-con{
     width: 86%;
     margin-left:7%;
     margin-top: 7%; 
     margin-bottom:7%;
}
.main-con .pre-dis-con .row .pre-dis-card .pre-dis-img-con img{
     width: 100%;
     border-radius: 5px;
}
.main-con .pre-dis-con .row .pre-dis-card .pre-dis-p-con{
     width: 100%;
     height: 25%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;  
}
#pre-dis-p-artist{
     font-size: 20px;
     font-weight: 600;
     margin-bottom: 5px;
}
.main-con .pre-dis-con .row .pre-dis-card:hover{
     background-color: rgb(31, 31, 31);
}
.main-con .pre-dis-con .row .pre-dis-card:hover p{
     color: rgb(20, 220, 63);
}

.main-con .artist{
     width: 80%;
     margin-left: 5%;
}
.main-con .artist .title{
     width: auto;
     height: 50px;
     display: flex;
     align-items: center;
}
.main-con .artist .title p{
     font-size: 30px;
     font-weight: 700;
}
.main-con .artist-card{
     margin-top: 30px;
     margin-bottom: 30px;
     width: 500px;
     height: 320px;
     background-color: rgb(22, 22, 22);
     transition: .3s ease;
     border-radius: 5px;
     display: flex;
     box-shadow: 0 8px 6px -6px rgb(0, 0, 0);
}
.main-con .artist-card .artist-inf{
     width: 50%;
     height: 100%;
}
.main-con .artist-card .artist-sub{
     width: 40%;
     height: 100%;
     display: flex;
     flex-direction: column;
}
.main-con .artist-card:hover{
     background-color: rgb(31, 31, 31);
}

.main-con .artist-card img{
     width: 200px;
     height: 200px;
     border-radius: 50%;
     margin:20px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main-con .artist-card .artist-name{
     height: 25px;
     width: 240px;
     display: flex;
     align-items: center;
     justify-content: center;
}
.main-con .artist-card .artist-name p{
     font-size: 22px;
     font-weight: 600;
}
.main-con .artist-card .artist-cat{
     height: 25px;
     width: 240px;
     display: flex;
     align-items: center;
     justify-content: center;
     opacity: 65%;
}
.main-con .artist-card .artist-sub .sub-like{
     width:100%;
     height: 33%;
     font-size: 30px;
     display: flex;
     align-items: center;
     justify-content: center;
}

.main-con .artist-card .artist-sub .sub-count{
     width:100%;
     height: 33%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
}
.main-con .artist-card .artist-sub .sub-count .num{
     font-size: 30px;
     font-weight: 800;
}
.main-con .artist-card .artist-sub .sub-play{
     width:100%;
     height: 33%;
     font-size: 50px;
     display: flex;
     align-items: flex-start;
     justify-content: center;
}
.main-con .artist-card .artist-sub .sub-play i{
     transition: 0.2s ease;
     color:rgb(17, 204, 79);
}
.main-con .artist-card:hover i{
     transform: scale(1.1);
}
.main-con .songs{
     width: 80%;
     height: auto;
     margin-bottom: 200px;
}
.main-con .songs{
     width: 90%;
     margin-left: 5%;
}
.main-con .songs .title{
     width: auto;
     height: 50px;
     display: flex;
     align-items: center;
     margin-bottom: 30px;
}
.main-con .songs .title p{
     font-size: 30px;
     font-weight: 700;
}
.main-con .songs .songs-con{
     margin-top: 15px;
     margin-bottom: 15px;
     width: 100%;
     height: 80px;
     display: flex;
     justify-content: flex-start;
     border-radius: 5px;
     transition: ease .1s;
}
.main-con .songs .songs-con:hover{
    background-color: rgba(75, 75, 75, 0.5);
}
.main-con .songs .songs-con .songs-img{
     width: 80px;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
}
.main-con .songs .songs-con .songs-img img{
     width: 60px;
     border-radius: 2px;
}
.main-con .songs .songs-con .songs-info{
     width: 75%;
     height: 100%;
     display: flex;
     margin-left: 20px;
     flex-direction: column;
     justify-content: space-between;
}
.main-con .songs .songs-con .songs-info-name{
     height: 50%;
     width: auto;
     display: flex;
     align-items: flex-end;
}
.main-con .songs .songs-con .songs-info-name p{
    font-size: 20px;
    font-weight: 500;
}
.main-con .songs .songs-con .songs-info-artist{
     height: 45%;
     width: auto;
     display: flex;
     align-items: flex-start;
}
.main-con .songs .songs-con .songs-info-artist p{
     opacity: 70%;
}
.main-con .songs .songs-con .songs-time{
     width: 100px;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: flex-start;
}
.main-con .songs .songs-con .songs-time p{
     opacity: 70%;
}
.main-con .songs .songs-con .songs-play{
     width:100px;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: flex-start;
}
.main-con .songs .songs-con .songs-play i{
     font-size: 25px;
     opacity: 70%;
     color: rgba(68, 255, 61, 0.829);
     transition: ease .1s;
}
.main-con .songs .songs-con:hover i{
     transform: scale(1.2);
     opacity: 100%;
}
.main-con .songs .songs-con-active{
     background-color: rgba(75, 75, 75, 0.5);
}
.main-con .songs .songs-con-active .songs-play i{
     transform: scale(1.2);
     opacity: 100%;
}
