*{
     margin: 0;
     padding: 0;
     color: white;
     font-family: 'Montserrat', sans-serif;
     text-decoration: none;
}
body{
     background-color: rgb(18, 18, 18);
}
.w-full{
     width: 100%;
}
.container{
     width: 100%;
     height: auto;
     display: flex;
}
.container .menu{
     /* display: flex; */
     height: 100vh;
     width: 17%;
     background-color: rgb(11, 11, 11);
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     position: fixed;
}
.menu2{
     height: 100vh;
     width: 17%;
}
.container .main{
     height: auto;
     width: 83%;
     background-color: rgb(18, 18, 18);;
}
.container .menu .logo-con{
     height: 20%;
}
.container .menu .logo-con img{
     margin-top: 30px;
     margin-left: 15%;
     width: 70%;
     margin-bottom: 30px;
}
.container .menu-item{
     height: 45px;
     width: 80%;
     display: flex;
     align-items: center;
     justify-content: flex-start;
     margin-left: 10%;
     /* justify-self: center; */
     margin-top: 10px;
     margin-bottom: 10px;
}
.menu-item-con{
     width:100%;
     height: auto;
}
.menu-item-logo{
     width: 30%;
     display: flex;
     justify-content: center;
     align-items: center;
}
.container .menu-item i {
     font-size: 20px;
     color: rgba(255, 255, 255, 0.548);
}
.container .menu-item p {
     font-size: 16px;
     color: rgba(255, 255, 255, 0.548);
}
.container .active{
     height: 45px;
     width: 80%;
     display: flex;
     align-items: center;
     justify-content: flex-start;
     margin-left: 10%;
     background-color: rgba(255, 255, 255, 0.137);
     border-radius: 10px;
     margin-top: 10px;
     margin-bottom: 10px;
}
.container .active p {
     font-size: 16px;
     color: rgb(255, 255, 255);
}
.conatiner .menuitem:hover{
     background-color: rgb(255, 255, 255);
}
.menu-user{
     margin-top: 50px;
     width: 100%;
     /* background-color: blanchedalmond; */
     height: 100px;
}
.menu-user .title{
     width: 70%;
     margin-left:15%;
     font-size: 20px;
}